body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1 {
    font-size: 50px;
}
h2{
    font-size: 30px;
}
.orange-color{
    color: #FFAD5A;
}
h3{
    font-weight: 100;
}
.flexible-container {
    display:flex;
    margin-bottom: 150px;

}
.half-width{
    width: 50%;
    padding-left: 10%;
   

}
.half-width img{
    width: 80%;
}
.mission-area{
  width: auto;
}
.half-width-exp
{
    width: 30%;
    margin-left: 2%;
    margin-right: 1%;
    padding-left: 50px;
    padding-right: 5px;;
    
    }
.link-button{
    text-decoration: none;
    background-color: #FF5959;
    color:white;
    font-weight: 400;
    margin-top: 500px;
    padding: 12px 40px;
    border-radius: 5px;
}
.top-banner{
    background-image: url("./images/top-banner.png");
    background-repeat: no-repeat;
}
.develop{
    background-image: url("./images/shapes/shape-2.png");
    background-repeat: no-repeat;
    background-position: left;
}
.community{
    background-image: url("./images/shapes/shape-2.png");
    background-repeat: no-repeat;
    background-position: right;
}
#mission{
    background-color:#4F9DA61A;
    border-radius: 26px;
}
.div-image img
{
   width: 30%;
}
#vission{
    background-color:#FF59591A;
    border-radius: 26px;
}
#goal{
    background-color:#FFF4D6;
    border-radius: 26px;
}
footer p{
    text-align:center ;
}
.mainheading{
    font-family: 'Yeseva One', cursive;
    color: #333;
    border-width: 10px;
    border-left:#FF5959 solid;
    padding-left: 10px;
   }
   .headings{
       color:#13103A;
       font-size: 50px;
       font-weight: 700;
       text-align: center;
   }
   